body {
  background-color: #30344b;
  color: #eee;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* TIMER */
.timer {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.timer-button-container {
  display: flex;
  align-self: center;
  justify-content: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  text-align: center;
  width: 70px;
  height: 70px;
  margin: 10px;
}

/* SETTINGS */
.settings {
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
}
